body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;

}

.megafone {
    margin-top: -5%;
    display: block;
    justify-content: center;
    align-items: center;

}

.megafone img {
    width: 50%;

}

.cidadania {
    display: flex;

}


.bottons {
    display: flex;
    align-items: center;

}

.hiperlink {
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiperlink img {
    width: 10%;
}
