@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.header {
  position: fixed;
  display: flex;
  padding: 10px;
  background: #f5f5f5;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
  z-index: 1;
}

.header img {
  width: 100px;
}

.header .itens {
  display: block;
}

.header .cidadania {
  display: flexbox;
  left: 0;
  position: relative;
  width: 218px;
  height: 61px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #c64a4d;
}

.header .movel {
  width: 218px;
  height: 61px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #dd8b8d;
}

.main {
  width: 90%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li a {
  display: flex;
  color: #000000;
  text-decoration: none;
  padding-left: 10px;
}

.main .cidadania_main {
  color: #c64a4d;
  font-size: 60px;
  text-align: left;
}

.main .p {
  margin-top: 15%;
  height: 135px;
  width: 434px;
  left: -415px;
  top: 546px;
  border-radius: nullpx;
  width: 434px;
  height: 135px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
  white-space: nowrap;
}

.main .frase .p .cidadania {
  color: #c64a4d;
}

.main .frase .p.frases {
  color: #000000;
}

.main .frase {
  margin-top: 0%;
  margin-bottom: 10px;
  position: absolute;
  left: 0;
  font-size: 30px;
}

.frase_final {
  font-size: 20px;
}

.bottonsHome {
  display: flex;
  margin-top: 400px;
  padding-right: 0%;

  max-width: 100%;
  align-items: center;
}

.bottonsHome .teste {
  max-width: 100%;
  margin: auto;
  width: 200px;
}

.bottonsHome .teste:hover {
  cursor: pointer;
}

.menu {
  display: flex;
}

.menu li {
  width: 72px;
  font-size: 24px;
  list-style: none;
  padding: 20px;
}

.menu li:hover {
  cursor: pointer;
  font-weight: bold;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main img {
  margin-left: 530px;
  width: 58%;
  max-width: 100%;
}
.conteiner {
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.conteiner .card {
  position: relative;
  max-width: 70px;
  height: 110px;
  border-radius: 4px;
  background: #fff;
  margin: 80px 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20 px rgba(0, 0, 0, 0.5);
  word-spacing: 2px;
  transition: 0.3s ease-in-out;
}

.conteiner .card:hover {
  position: relative;
  margin: 80px 10px;
  padding: 10px 20px;
  width: 95px;
  height: 220px;
  top: -90px;
  right: 19px;
  filter: drop-shadow(0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.5));
  transition: 0.3s ease-in-out;
}

.conteiner .card .imgbx {
  position: absolute;
  width: 100px;
  height: 90px;
  top: 0px;
  left: -10px;
  z-index: 1;
  box-shadow: 0 5px 20 px rgba(0, 0, 0, 0.2);
}

.conteiner .card .imgbx img {
  max-width: 100%;
  border-radius: 6px;
}

.conteiner .card:hover .imgbx img {
  filter: none;
  filter: grayscale();
}

.conteiner .card .content {
  position: relative;
  margin-top: 60px;
  padding: -100px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  word-spacing: 2px;
  transition: 0.3s ease-in-out;
}

.conteiner .card .content .nome {
  color: #c64a4d;
}

.conteiner .card:hover .content {
  visibility: visible;
  opacity: 1;
  top: 50px;
  width: 80px;
  font-size: small;
  transition: delay 0.3s;
}

.contato {
  height: 163px;
  width: 1300px;
  left: 822px;
  top: 517px;
  border-radius: 0px;
  background: #c8c8c8;
}

.contato .icons {
  margin-top: 75px;
  display: flex;
  position: absolute;
  width: 41px;
  height: 41px;
  left: 1%;
}

.contato img {
  width: 31px;
  height: 31px;
  background: #c8c8c8;
}

.contato .cntoE {
  position: absolute;
  width: 137px;
  height: 30px;
  color: #000000;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.contato .centroE {
  position: absolute;
  width: 79px;
  height: 23px;
  font-family: "Poppins";
  font-style: normal;
  font: weight 400px;
  font-size: 20px;
  line-height: 111px;
  color: #000000;
}

.contato .cntoD {
  position: absolute;
  width: 218px;
  height: 61px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 70px;
  color: #c64a4d;
  right: 3%;
}

.contato .email {
  font-size: 26px;
  position: absolute;
  width: 237px;
  height: 23px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 111px;
  color: #3391c2;
  right: 74%;
}

.contato .centroD {
  position: absolute;
  width: 125px;
  height: 61px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 129px;
  color: #dd8b8d;
  right: 131px;
}

@media screen and (max-width: 500px) {
  .contato {
    width: 100%;
  }
}